<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.aistar.mapper.DepartmentMapper">
    <select id="getById" parameterType="int" resultType="department">
        select * from department where id=#{id}
    </select>
</mapper>